<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
    <div (click)="debugar(orderForm)">
     
      
    </div>

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row ">
        <div class="col-xs-6">
          <p class="lead">Dados Pessoais:</p>
        </div>
        <div class="col-xs-6">
          <span *ngIf="orderForm.hasError('emailNotEqual')" class="pull-right has-error-block">
             <i class="fa fa-remove"></i> Emails não conferem
          </span>_
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-sm-4 col-xs-12">
          <mt-input-container label="Endereço" errorMessage="Nome Obrigatório">
            <input type="text" class="form-control" placeholder="Nome" formControlName="name">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Email" errorMessage="Email Inválido">
            <input type="text" class="form-control" placeholder="Email" formControlName="email">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Confirmação Email" errorMessage="Email Inválido">
            <input type="text" class="form-control" placeholder="Confirmação Email" formControlName="emailConfirm">
          </mt-input-container>

        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-4 col-xs-12">
          <mt-input-container label="Endereço" errorMessage="Endereço Obrigatório e mínimo 5 caracteres ">
            <input type="text" class="form-control" placeholder="Endereço" formControlName="address">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Número" errorMessage="Campo Obrigatório e somente números">
            <input type="text" class="form-control" placeholder="Número" formControlName="number">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container label="Complemento">
            <input type="text" class="form-control" placeholder="Complemento" formControlName="optionalAddress">
          </mt-input-container>

        </div>

      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-items (onDecrementItem)="decrementItem($event)" (onIncrementItem)="incrementItem($event)"
          (onRemoveItem)="removeItem($event)">
        </mt-order-items>
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <mt-radio [options]="radioOptions" 
          formControlName="paymentOptions"></mt-radio>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs [valorFrete]="valorFrete()" [valorItens]="valorItens()">

          </mt-delivery-costs>

        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button [disabled]="items().length==0 || !orderForm.valid" 
        (click)="checkOrder(orderForm.value)"
        class="btn btn-success pull-right"><i class="fa fa-credit-card"></i>
          Concluir
          Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->